
<h1>TOUR DETAILS WORKS</h1>

<section class="sm:mt-20">
    
    <div class="relative container mx-auto bg-gray-100 text-black ">

      <img src="../../../../assets/Chess-pieces-onSand.jpg" alt="venise" class="w-full object-cover h-72 sm:w-1/2 sm:absolute sm:h-full">

      <div class="py-10 px-10 sm:ml-auto sm:w-1/2">
        <h2 class="text-4xl text-cyan-900 mb-5"> Tournament name </h2>

        <p class="font-thin text-lg"> Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description</p>

        <h3>Prix Junior : tour.registerFeeJunior </h3>
        <h3>Prix Senior : tour.registerFeeSenior</h3>

        <h4> <span>tour.dateOfStart</span> & <span>tour.dateOfEnd</span></h4>

        <p>tour.pairingStyle</p>
        <p> Organisator : tour.organisator <br>
        Contact : tour.contact
        </p>
        <p>Places available : tour.capacity </p>

        <a href="#" class="inline-flex ring-1 ring-slate-300 rounded shadow-md items-center justify-between p-3 bg-gradient-to-r from-red-300 to-orange-300 mt-8 mb:mt-20">
          <span class="mr-4">Take a ticket</span>
          <img src="../../../../assets/paper-plane.svg" class="w-6" alt="paper plane">
        </a>
      </div>
      
    </div>

  </section>