
<section class="sm:mt-20">
    
    <article class="relative container mx-auto bg-gray-100 text-black rounded">

      <img src="../../../../assets/Chess-pieces-onSand.jpg" alt="venise" class="w-full object-cover h-72 rounded sm:w-1/2 sm:absolute sm:h-full">

      <div class="py-10 px-10 sm:ml-auto sm:w-1/2">
        <h2 class="text-4xl text-cyan-900 mb-5"> Tournament name </h2>

        <p class="font-thin text-lg"> Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description Tournament description</p>

        <h3>Prix Junior : tour.registerFeeJunior </h3>
        <h3>Prix Senior : tour.registerFeeSenior</h3>

        <h4> <span>tour.dateOfStart</span> & <span>tour.dateOfEnd</span></h4>

        <p>tour.pairingStyle</p>
        <p> Organisator : tour.organisator <br>
        Contact : tour.contact
        </p>
        <p>Places available : tour.capacity </p>

        <a href="#" class="inline-flex ring-1 ring-slate-300 rounded shadow-md items-center justify-between p-3 bg-gradient-to-r from-red-300 to-orange-300 mt-8 mb:mt-20">
          <span class="mr-4">Take a ticket</span>
          <img src="../../../../assets/paper-plane.svg" class="w-6" alt="paper plane">
        </a>
      </div>
      
    </article>

    <div class="min-h-[450px] w-72 flex flex-col shadow-md ring-1 ring-zinc-300 border border-gray-200 rounded-lg mt-7 mx-4 px-6 py-4 text-left">

        <div class="mb-5">
            <h2 class="text-2xl font-bold text-gray-900">Basic</h2>
            <p class="text-md text-gray-800">Fill your basic needs</p>
            <p class="mt-2">
              <span class="text-4xl font-extrabold text-gray-900">12€</span>
              <span class="font-medium text-black-800">/month</span>
            </p>
            <p class="text-xs font-medium text-gray-900 tracking-wide uppercase">Included :</p>
          </div>

          <div class="flex flex-grow flex-col">
            <ul>
              <li class="flex space-x-3 py-2">
                <img src="../../../../assets/checked.svg" alt="checked icon" class="w-5">
                <span class="text-sm text-gray-800">Lorem ipsum dolor sit amet.</span>
              </li>
              <li class="flex space-x-3 py-2">
                <img src="../../../../assets/checked.svg" alt="checked icon" class="w-5">
                <span class="text-sm text-gray-800">Lorem ipsum dolor sit amet.</span>
              </li>
              <li class="flex space-x-3 py-2">
                <img src="../../../../assets/checked.svg" alt="checked icon" class="w-5">
                <span class="text-sm text-gray-800">Lorem ipsum dolor sit amet.</span>
              </li>
            </ul>



            <a href="#" class="mt-auto block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Subscribe to this plan</a>
          </div>
    </div>
    

  </section>